.alert{
    background-color:#f08080;
    color:white;
    text-align: center;
    position:fixed;
    width:100%;
}
.notice{
    background-color:#87cefa;
    color:white;
    text-align: center;
    position:fixed;
    width:100%;
}


